//основной цвет текста
$color-grey: #777777
//основные цвета сайта
$color-light-brown: #BA8554
$color-dark-brown: #A14F03
$color-white: #ffffff
$color-black: #000000
//цвет фона контейнера
$color-grey-light: #F7F7F7
//тени кнопок
$box-shadow-hover: (0px 4px 4px rgba(0, 0, 0, 0.5))
$box-shadow-active: (0px 4px 4px rgba(0, 0, 0, 0.2))

// main content conatainer width 1440px - margins(2x150px) = 1140px = 114rem
$grid-width: 114rem

$margin-vertical-big: 8rem
$margin-horizontal: 6rem