//text color
$color-grey: #777777
//main colors
$color-light-brown: #BA8554
$color-dark-brown: #A14F03
$color-white: #ffffff
$color-black: #000000
//container background color
$color-grey-light: #F7F7F7
//button shadows
$box-shadow-hover: (0rem .4rem .4rem rgba(0, 0, 0, 0.5))
$box-shadow-active: (0rem .4rem .4rem rgba(0, 0, 0, 0.2))
//secondary title shadow
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)
// main content conatainer width 1440px - margins(2x150px) = 1140px = 114rem
$grid-width: 114rem
$margin-vertical-big: 8rem
$margin-horizontal: 6rem
//general font size
$font-size-paragraph: 1.6rem
//headers font sizes
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem