.tour-card
    height: 50rem
    perspective: 150rem
    -moz-perspective: 150rem
    position: relative
    @include respond(tablet)
        height: 60rem
    &__side
        height: 50rem
        transition: .7s all ease-out
        color: black
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden
        box-shadow: $box-shadow-active
        border-radius: .5rem
        overflow: hidden
        @include respond(tablet)
            height: 60rem
        &_front
            //transform: rotateY(0deg)
        &_back
            transform: rotateY(180deg)
            background: linear-gradient(120deg, $color-light-brown, $color-dark-brown)
            visibility: hidden
    &:hover &__side_front
        transform: rotateY(180deg)
    &:hover &__side_back
        transform: rotateY(0deg)
        visibility: visible
    &__img
        height: 21rem
        background-blend-mode: hard-light
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
        margin-bottom: 4.5rem
        &_1
            background: $color-light-brown url(../img/tour-photo-1.jpg) center / cover no-repeat
        &_2
            background: $color-light-brown url(../img/tour-photo-2.jpg) center / cover no-repeat
        &_3
            background: $color-light-brown url(../img/tour-photo-3.jpg) center / cover no-repeat
        @include respond(tablet)
            height: 30rem
    &__title
        font-size: 2.8rem
        letter-spacing: .2rem
        text-transform: uppercase
        color: $color-white
        font-weight: 100
        text-align: right
        position: absolute
        top: 17rem
        right: 0rem
        @include respond(tablet)
            top: 25rem
            font-size: 3.8rem
    &__span
        background: linear-gradient(90deg, $color-light-brown, $color-dark-brown)
        padding: 1rem 1.5rem .3rem 1.5rem
        //&_1
        &_2
            position: absolute
            top: 2.8rem
            right: 0rem
            @include respond(tablet)
                top: 3.8rem
    &__descr
        @include respond(tablet)
        margin-top: 8rem
        ul
            list-style: none
            margin: 0 auto
            width: 75%
            text-align: center
            li
                font-size: $font-size-paragraph
                letter-spacing: .2rem
                color: $color-grey
                border-bottom: solid .1rem $color-grey
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem
                @include respond(small-desktop)
                    font-size: 1.5rem
                @include respond(tablet)
                    font-size: 2rem
    
    &__backside-box
        text-align: center
        margin-top: 8.7rem
    &__text
        color: $color-white
        letter-spacing: .2rem
        text-transform: uppercase
        margin-bottom: 8.7rem
        &_letters
            font-size: $font-size-paragraph
            font-weight: 300
            @include respond(tablet)
                font-size: 3rem
        &_numbers
            font-size: 6rem
            font-weight: 500    
